.navbar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar ul li{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
}